* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hind Madurai', sans-serif;
}

html, body {
	height: 100%;
}

.center {
	width: 1280px;
}

.header {
	width: 100%;
	height: 150px;
	background-color: #4682B4;
}

.header img {
	margin: 15px;
}

.container-banner {
	width: 100%;
	height: 557px;
	background-image: url('../img/header_bg.jpg');
	background-size: cover;
	background-position: center;
}

.container-banner>.center {
	height: 100%;
}

.form {
	padding: 10px;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	border: 10px solid #778899;
	top: -50px;
	background-color: white;
}

.form h2 {
	font-weight: normal;
	color: #999999;
	font-size: 20px;
}

.input-container {
	margin-top: 20px;
}

.input-container span {
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	font-weight: bold;
}

.form p {
	margin: 20px 0;
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	font-weight: bold;
}

.input-container input[type=text] {
	margin-top: 10px;
	font-size: 20px;
	width: 340px;
	height: 55px;
	border: 2px solid #ccc;
}

.input-container input[type=password] {
	margin-top: 10px;
	font-size: 20px;
	width: 340px;
	height: 55px;
	border: 2px solid #ccc;
}

.form .input-submit-container {
	text-align: center;
}

.form input[type=submit] {
	color: white;
	display: inline-block;
	font-size: 25px;
	width: 280px;
	height: 56px;
	background-color: #00008B;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	cursor: pointer;
	border-bottom: 5px solid blue;
}

.form input[type=submit]:hover {
	background: #323665;
}

.footer {
	clear: both;
	padding: 5px 0;
	border-top: 4px solid #888888;
	text-align: center;
	color: #888;
}

.footer p {
	margin-top: 8px;
}

table.blueTable {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.blueTable tbody td {
	font-size: 13px;
}

table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}

table.blueTable thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
}

table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
	border-left: none;
}

table.blueTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
}

table.blueTable tfoot td {
	font-size: 14px;
}

table.blueTable tfoot .links {
	text-align: right;
}

table.blueTable tfoot .links a {
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}

input[type=submit].butn {
	-webkit-border-radius: 58;
	-moz-border-radius: 58;
	border-radius: 58px;
	-webkit-box-shadow: 7px 1px 3px #000000;
	-moz-box-shadow: 7px 1px 3px #000000;
	box-shadow: 7px 1px 3px #000000;
	font-family: Arial;
	color: #000096;
	font-size: 20px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

input[type=submit].butn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

a:link{
	background-image: url('../img/user.png');
}